.wrapper
  = render 'shared/sidebar'
  .main
    .main__header
      .main__header--room-name
        = current_user.groups[params[:group_id].to_i - 1].name
      = link_to edit_group_path(params[:group_id]), class: "main__header--button" do
        .main__header--edit
          Edit
      %ul.main__header--member
        %li
          Member :
          - current_user.groups[params[:group_id].to_i - 1].users.each do |user|
            = user.name
    .main__chat
      .messages
        = render partial: 'message', collection: @messages
      .main__chat--finish-space
    .main__footer
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'main__footer--input', placeholder: "type a message"
        %label
          = fa_icon 'picture-o', class: "main__footer--image"
          = f.file_field :image, type: "file", id: "filesend"
        =f.submit 'Send', class: "main__footer--send"
  -# %label
  -#  %i.fa.fa-picture-o{class: "main__footer--image"}
  -#  %input{type: "file",id: "filesend"}
